.standOut {
    grid-area: standout;
    width: 100%;
    margin: 10% 0;
    text-align: center;
    .standTitle{
        margin-bottom: 50px;
        color: $title-color-bg-white;
    }
    .textSection{
        font-size: 18px;
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        margin-bottom: 50px;
        color: $text-color-bg-whith;
        line-height: 30px;
    }
    .aSection{
        border-bottom: 10px solid rgba(254, 119, 102, 0.4);
        border-radius: 5px;
        text-decoration: none;
        font-family: $styleTitle;
        font-weight: bold;
        font-size: 20px;
        color: $title-color-bg-white;
    }
}

@media only screen and (min-width: 1024px){
    .standOut{
        margin: auto 0;
//      text-align: left;
//     .asection{
//          margin-left: 25px;
    }
}