.brand{
    width: 100%;
    border: 0px solid black;
    margin: 10% 0 10% 0;
    text-align: center;
    .brandTitle{
        margin-bottom: 50px;
        color: $title-color-bg-white;
    }
    .textSection{
        font-size: 18px;
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        color: $text-color-bg-whith;
        line-height: 30px;
    }
    .aSection{
        border-bottom: 10px solid rgba(250, 212, 0, 0.4);
        border-radius: 5px;
        text-decoration: none;
        font-family: $styleTitle;
        font-weight: bold;
        font-size: 20px;
        color: $title-color-bg-white;
    }
}



@media only screen and (min-width: 1024px){
    .brand{
        grid-area: brand;
    }
}