.client{
    text-align: center;
    .titreClient{
        letter-spacing: 4px;
        font-size: 20px;
        line-height: 20px;
        color: $colorFunction;
        font-weight: bold;
        padding: 64px 0 ;
    }
    .artClient{
        .photoProfil{
            border: 0px solid black;
            border-radius: 50%;
            width: 20%;
        }
        .exp{
            font-family: $styleText;
            letter-spacing: -0.13px;
            font-size: 18px;
            line-height: 32px;
            color: $colorExp;
            padding: 30px 0;
        }
        .name{
            font-family: $styleTitle;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.13px;
            color: $colorName;
            padding-bottom: 10px;
            font-weight: 900;
        }
        .function{
            font-family: $styleTitle ;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.1px;
            color: $colorFunction;
            padding-bottom: 50px;
        }
    }
}