html {
    scroll-behavior: smooth;
    }

body{
    .headPage{
        width: 100%;
        height: 538px;
        background-image: url(./images/photos/image-header.jpg);
        background-size: cover;
        background-position: center ;

        .burgerBar{
            font-size: 22px ;
            color: $title-white;
            font-family: $styleTitle;
            display: flex;
            justify-content: space-between;
            padding: 28px;
        }
        
        .navBar{
            
            text-align: center;
            display: none;
            font-family: $styleText;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.13px;
        }

        .titleSection{
            font-size: 70px;
            color: $title-white;
            font-family: $styleTitle;
            margin-bottom: 10px;
        }
        .fleche{
            text-align: center;
        }
    }
    
}

@media only screen and (min-width: 1024px) {
    body{
        .headPage{
            
            .burgerBar{
                // height: 800px;
                img{
                    display: none;
                }
            }

            .navBar{
                display: block;
                position: relative;
                left: 400px;
                top: -50px;
                .navLien{
                    margin: 15px;
                    text-decoration: none;
                    color: $title-white;
                }
                .contact{
                    border: 1px solid $title-white;
                    border-radius: 25px;
                    background-color: $title-white;
                    color: black;
                    padding: 15px 25px;
                }
            }
    
        }  
    }
}
