html {
    scroll-behavior: smooth;
    }

body{
    .headPage{
        width: 100%;
        height: 538px;
        background-image: url(./images/photos/image-header.jpg);
        background-size: cover;
        background-position: center ;

        .burgerBar{
            font-size: 22px ;
            color: $title-white;
            font-family: $styleTitle;
            display: flex;
            justify-content: space-between;
            padding: 28px;
        }
        
        .navBar{
            display: inline;
            text-align: center;
            visibility: hidden;
        }

        .titleSection{
            font-size: 70px;
            color: $title-white;
            font-family: $styleTitle;
            margin-bottom: 10px;
        }
        .fleche{
            text-align: center;
        }
    }
    .subHead{
        width: 100%;
    }
};