$text-color-bg-whith: #808397;
$title-color-bg-white: #24303E;
$title-white: #ffffff;
$styleTitle: Fraunces, serif;
$styleText: Barlow, sans-serif;
$colorTextGraphic:#24554A;
$colorTextPhoto: #19536C;
$colorExp: #5B636D;
$colorName: #19536C;
$colorFunction: #A7AAAD;
$colorBgFooter: #90D4C6;
$colorTextFooter: #2C7566;