@import './vendor/normalize';
@import 'fontstyle.scss';
@import 'variable.scss';

@import 'header.scss';
@import 'brand.scss';
@import 'standout.scss';
@import 'graphic.scss';
@import 'photography.scss';
@import 'client.scss';
@import 'gallery.scss';
@import 'footer.scss';

body{
    .titleSection{
        flex-direction: column;
        font-size: 32px;
        text-align: center;
        font-family: $styleTitle;
        font-weight: bold;
        width: 375px;
        
    }
}